body, html {
    margin: 0;
    font-family: "Microsoft YaHei", "Helvetica Neue", Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style: none;
}

.clear {
    clear: both;
    height: 0;
    zoom: 1;
    visibility: hidden;

}

.layout {
    width: 1200px;
    margin: 0 auto;
}

.top {
    height: 50px;
    background: #ccc
}

.logo {
    text-align: center
}

.logo li {
    display: inline-block;

}

.content {
    height: 600px;

}

.left {
    float: left;
    width: 30%;
    background: #666;
    height: 600px;
}

.right {
    float: right;
    width: 70%;
    background: #aaa;
    height: 600px;
}

.footer {
    text-align: center;
    padding-top: 20px;
}


